@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans TC", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #000;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* --blank line-- */
.wrap {
  margin: 0 auto;
  max-width: 1296px;
  padding: 12px;
}

/* nav bar  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
nav .nav-logo {
  width: 18.89%;
  margin: 20px 0;
}
nav .hbgIcon {
  display: none;
}
nav .menu ul {
  display: flex;
  color: #fff;
}
nav .menu a {
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 18.89%;
  margin: 20px 0;
}

.navbar {
  display: flex;
  color: #fff;
}
.navbar li a {
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

/* landing page */
.landing-top h1 {
  color: #fff;
  font-weight: 900;
  font-size: 120px;
  line-height: 1.2;
}

.landing-top2 {
  margin-top: 80px;
  width: 50%;
  float: right;
}

.lt-h2 {
  color: #fff;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
}

.animate {
  margin-top: 492px;
  background: transparent;
  overflow: hidden;
}

.h3_style {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
}

/* sectionA */
.sectionA {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.title {
  margin: 160px 0 80px 0;
}

.cards-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-price {
  border: 1px solid #525252;
  border-radius: 16px;
  width: 49%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.cardT {
  height: 31%;
  flex-direction: column;
  padding: 20px 0 136px 32px;
}
.cardT ul {
  color: #F2F2F2;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  margin-top: 12px;
}

.cardB {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #525252;
  padding: 20px 32px;
}

.cardB-l {
  display: flex;
  align-items: center;
}
.cardB-l p {
  font-weight: 900;
}
.cardB-l span {
  color: #525252;
}

.cardB-r a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.cardB-r span {
  font-size: 15px;
  margin-left: 12px;
}

/* sectionB */
.sectionB {
  display: flex;
  justify-content: space-between;
  margin: 160px 0;
}

.sb-r p {
  color: #F2F2F2;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #525252;
}
.sb-r h2 {
  margin-bottom: 24px;
}

/* big white */
section {
  /* big white */
  /* tools content */
  /* tools search */
  /* tools list */
  /* tools pagenation */
}
section .bg-white {
  background-color: #fff;
  border-radius: 160px;
  padding: 160px 0;
  margin-bottom: 80px;
}
section .tools-width {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 24px;
}
section .tools h2 {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 80px;
  text-align: center;
}
section .search {
  display: flex;
  align-items: center;
  background: #F2F2F2;
  border-radius: 16px;
  margin-bottom: 24px;
}
section .search span {
  color: #919191;
  margin-left: 43px;
  padding: 20px 0;
}
section .tools-input {
  width: 100%;
  background: #F2F2F2;
  border-radius: 16px;
  padding: 20px;
  color: #919191;
  cursor: pointer;
}
section .tools-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
section .input-img {
  padding: 20px 34.7px 20px 40px;
  display: flex;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  cursor: pointer;
}
section .input-img input {
  margin-right: 12px;
  background-color: #fff;
}
section .ul-list {
  overflow-x: auto;
  white-space: nowrap;
}
section .ul-list ul {
  display: flex;
}
section .ul-list li a {
  display: block;
  padding: 8px 16px;
  color: #919191;
  text-decoration: none;
  line-height: 1.5;
}
section .ul-list li a:hover {
  background: #F2F2F2;
  border-radius: 16px;
}
section .containerB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  width: 30%;
  overflow: hidden;
  margin-bottom: 24px;
}
section .card h3 {
  font-weight: 900;
  font-size: 20px;
  margin: 20px 32px 12px 32px;
}
section .cardP {
  font-size: 14px;
  line-height: 1.5;
  color: #525252;
  margin: 0 32px 20px 32px;
  flex-grow: 1;
}
section .card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-top: 1px solid #F2F2F2;
}
section .card-item a {
  color: #000;
}
section .pBold {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
section .card-img {
  overflow: hidden;
}
section .card img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-out;
}
section .pagenation {
  margin-top: 16px;
}
section .pagenation ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
}
section .pagenation a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #020202;
  padding: 16px 4px;
  width: 48px;
}
section .pagenation a:hover {
  background: #000000;
  color: #fff;
  border-radius: 16px;
}

/* footer的總寬 */
.footer-width {
  max-width: 1296px;
  margin: 0 auto;
  padding: 12px;
}

/* QA */
.QA {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 160px;
}

.qa-l {
  width: 40%;
}

.qa-r {
  width: 60%;
}
.qa-r li {
  display: flex;
  align-items: center;
  color: #F2F2F2;
  border: 1px solid #525252;
  border-radius: 16px;
  padding: 20px 40px;
  margin-bottom: 16px;
}
.qa-r li:hover {
  background-color: #fff;
  color: #000;
}
.qa-r h3 {
  font-size: 20px;
  font-weight: 900;
  margin-left: 20px;
}

/* footer */
footer {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 24px;
  /* footer */
}
footer .switch {
  padding: 80px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .switch h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 40px;
}
footer .input-imgB {
  align-items: center;
  display: flex;
  border: 1px solid white;
  border-radius: 16px;
}
footer .input-imgB a {
  display: flex;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  padding: 20px 0px 20px 40px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
  text-decoration: none;
}
footer .input-imgB a:hover {
  background-color: #fff;
  color: #000;
}
footer .input-imgB span {
  padding-right: 37px;
  padding-left: 12px;
}
footer .footer {
  border-top: 1px solid white;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
footer .footer-top .top-L h2 {
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
  color: #fff;
}
footer .footer-top .top-R img {
  width: 228.99px;
}
footer .footer-bottom {
  border-top: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  align-items: center;
  padding: 32px 0;
  flex-wrap: wrap;
}
footer .footer-bottom .bottom-L p, footer .footer-bottom .bottom-L a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}
footer .footer-bottom .bottom-L p {
  margin-right: 100px;
}
footer .footer-bottom .bottom-M a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
footer .footer-bottom .bottom-R button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* animation */
@keyframes landing-bottom {
  0%, 30% {
    transform: translateY(101%);
  }
  80%, 95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.img1 {
  animation: landing-bottom 4s 2.5s both infinite;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.img2 {
  animation: landing-bottom 4s 2s both infinite;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.img3 {
  animation: landing-bottom 4s 1.5s both infinite;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@media (max-width: 992px) {
  .wrap {
    padding: 12px;
  }
  nav .nav-logo {
    width: 50%;
  }
  nav .hbgIcon {
    display: flex;
    background: none;
    cursor: pointer;
    height: 150%;
    margin-left: 50%;
  }
  nav .open li {
    top: 100%;
    width: 100%;
    transition: 0.3s ease-out;
    transform: scale(1, 0);
    transform-origin: top;
  }
  nav .menu ul {
    transform: scale(1, 1);
    position: absolute;
    top: 100px;
    right: 50px;
  }
  .landing-top h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-top: 40px;
  }
  .animate img {
    width: 32%;
  }
  .lt-h2 {
    font-size: 28px;
    line-height: 1.2;
  }
  .card-price {
    width: 100%;
  }
  .section-R h2 {
    font-size: 32px;
    margin-bottom: 48px;
  }
  .sectionB {
    display: flex;
    flex-direction: column;
    margin: 120px 0;
  }
  .sectionB .sb-l {
    margin-bottom: 48px;
  }
  .sectionB .sb-r p {
    font-size: 16px;
  }
  section .bg-white {
    border-radius: 20px;
  }
  section .ul-list {
    margin: 0 auto;
    margin-top: 32px;
    order: 1;
  }
  section .tools h2 {
    font-size: 32px;
    text-align: center;
    line-height: 1.2;
  }
  section .card {
    width: 48%;
  }
  section .card-img img {
    width: 100%;
    height: 100%;
  }
  .QA {
    flex-direction: column;
  }
  .QA .qa-l {
    margin-bottom: 24px;
  }
  .QA .qa-r {
    width: 100%;
  }
  footer .footer-top {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .footer-top .top-R {
    margin-bottom: 40px;
  }
  footer .footer-top .top-L h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  section .card {
    width: 100%;
  }
  footer .footer-bottom {
    display: flex;
    justify-content: center;
  }
  footer .footer-bottom .bottom-L {
    margin-bottom: 24px;
  }
  footer .footer-bottom .bottom-M {
    order: 2;
  }
  footer .footer-bottom .bottom-R {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=style_page.css.map */